main {
    min-height: 100vh;
    background: transparent;
    overflow: clip;
}

.page-with-navbar {
    padding-top: 126px;
}

@media (max-width: 991px) {
    .page-with-navbar {
        padding-top: 152px;
    }
}

@media (max-width: 575px) {
    .page-with-navbar {
        padding-top: 186px;
    }
}
